.text-2xl {
    font-size: 1.5rem;
    padding-right: 16px;
}
.text-lg {
    font-size: 1.125rem;
    padding-right: 16px;
}
.whole_table {
    width: 80%;
    margin-left: 20px;
}
.table tr {
    padding-bottom: 10px;
}
.table_head {
    height: 60px;
}
.keywords {
    padding: 0px 10px 0px 10px;
}
.go_back {
    margin-left: 670px;
}
